@charset "UTF-8";
/* CSS Document */

header {
	background-color:#d6cfc0;
	z-index:1030;
	width:100%;
	position:fixed;
}

header a {
	color:#3D3D3D;
	font-size:20px;
}

header ul {
	padding:0;
 	margin:0;
 	list-style: none;
 	text-align: right;
}

header li {
  display:inline-block;
  vertical-align: top;
}

body {
	font-family:"Montserrat", sans-serif;
	background-color:#ffffff;
	margin:0;
	padding:0;
}

h1 {
	margin-top:40px;
	text-align:center;
	text-transform:uppercase;
	font-family:'Lato';
	color:#3d3d3d;
}

h2 {
	font-family: 'Lobster Two';
	font-weight: bold;
	font-size:30px;
}

.h6, h6 {
    font-size: 12px;
    font-family:'Montserrat';
}

hr {
	text-align:center;
	width:50%;
	color:#3d3d3d;
}

p {
	font-family:'Montserrat';
	font-size:14px;
	text-align:justify;
}

footer {
	background-color:#d6cfc0;
	font-size:13px;
	font-family:'Montserrat';
	padding:20px 10px 2px 10px;
}

ol ol, ol ul, ul ol, ul ul {
	list-style:none;
}

a {
	color:#3D3D3D;
}

a:hover {
	color:#FF7895;
}

#text-footer{
	text-align:center;
}

#site-logo{
	text-align:center;
	padding-top:40px;
}

#menu-deroulant, #menu-deroulant ul {
  padding:0;
  margin:0;
  list-style: none;
}

#menu-deroulant li {
  display:inline-block;
  vertical-align: top;
  position: relative;
}

#menu-deroulant li li {
  display:inherit;
  background-color:#ffffff;
}

#menu-deroulant a {
  display:block;
  padding:5px 50px;
  text-decoration: none;
  color:#3D3D3D;
  font-family:'Montserrat';
}
#menu-deroulant ul li a {
  padding:10px 8px;
}
#menu-deroulant ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;
}
#menu-deroulant ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}

#menu-deroulant ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.5s;
}

#menu-deroulant li li li {
  max-height: inherit;
}

#menu-deroulant li:hover li {
  max-height: 15em;
  overflow: visible;
  color:#FF7895;
}

#menu-deroulant a:hover{
	color:#FF7895;
	background-color:#3d3d3d;
}

.slideshow {
	margin-left:60px;
	margin-top:30px;
}

.text-slide-1, .text-slide-2, .text-slide-3 {
	text-align:justify;
	display: inline-block;
	font-family:'Montserrat';
	font-size: 15px;
	width:40%;
	float:right;
	color:#3D3D3D;
	border: 7px #d6cfc0 double;
	padding: 0 20px 10px;
	background-color:#ffffff;
	right:150px;
}

.text-slide-1{
	top:550px;
}

.text-slide-2{
	top:1000px;
}

.text-slide-3 {
	top:1450px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#instagram-header, #youtube-header, #facebook-header, #twitter{
	padding-right:8px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #d6cfc0;
    background-image: url('Images/search.png');
    background-position:left;
    background-repeat: no-repeat;
    padding-right: 20px;
    padding-left:30px;
    margin-left:50px;
    margin-top:3px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border:none;
    outline:none;
}

input[type=text]:focus {
    width: 100%;
    background-color:white;
}

.carousel-caption {
	color:#3D3D3D;
	border: 7px #d6cfc0 double;
	padding: 0 20px 10px;
	background-color:#ffffff;
    z-index: 100;
    text-align: justify;
    font-family:'Montserrat';
	font-size: 15px;
	width:45%;
	left:45em;
	bottom:8em;
	position:fixed;
	max-height:50%;
}

.carousel-indicators .active{
	background-color:#FF7895;
}

.carousel-indicators li {
	background-color:#3d3d3d;
}

.carousel-control-prev-icon{
	background-image:url("Images/arrow-left.png");
	width:25px;
}

.carousel-control-prev-icon:hover{
	background-image:url("Images/arrow-left-hover.png");
	width:25px;
}

.carousel-control-next-icon{
	background-image:url("Images/arrow-right.png");
	width:25px;
}

.carousel-control-next-icon:hover{
	background-image:url("Images/arrow-right-hover.png");
	width:25px;
}

.navbar-dark .navbar-toggler-icon{
	background-image:url("Images/menu-burger.png");
	width:27px;
}

.btn-primary {
    color: #3d3d3d;
    background-color: #d6cfc0;
    border:none;
    font-family:'Montserrat';
}

.btn-primary:hover{
    color: #FF7895;
    background-color: #d6cfc0;
    border:none;
	font-family:'Montserrat';
}

.btn{
	margin-left:40%;
    font-family:'Montserrat';
}

.instagram{
	text-align: center;
	margin-top:50px;
	margin-bottom:50px;
	font-family:'Montserrat';
	font-size: 10px;
}

#text-instagram{
	text-align:center;
}

#newsletter-title {
	text-align:center;
	padding-top:10%;
	color:white;
}

#newsletter-text{
	margin:2em;
	color:white;
}

#newsletter-background{
	background-color:#3d3d3d;
}

#about-me-title{
	color:#FF7895;
}

#about-me-text{
	margin:2em;
	color:#3d3d3d;
	padding-top:5%;
}

#about-me-photo{
	border-radius:100%;
}

.overlay-container {
 position:relative;
}

.overlay {
 position: absolute;
 top: 0;
 left:0;
 width: 100%;
 height: 100%;
 color: #3D3D3D ;
 padding-top:15%;
 text-align: center;
 display:none;
 background-color:#FFFBF3;
 opacity:0.8;
}

.overlay-container:hover .overlay{
 display:block;
}

#besides-kimchi-photo{
	width:100%;
}

.bg-dark {
   flex-direction: column;
   background-color:#ffffff!important;
}

.navbar-dark .navbar-toggler {
    border-color: #3d3d3d;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right:0;
	padding-left:0;
}

@media (max-width: 575px) {
	h1 {
		font-size:1.6em;
	}

	h2 {
		font-size:1.5em;
		padding-left:10px;
	}

	p {
		font-size:15px;
		padding-left:10px;
		max-width:90%;
	}

	#menu-deroulant ul li a {
		font-size:12px;
	}

	.col-md-3{
		text-align:center;
	}	

	#about-me-text{
		padding-right:10px;
	}

	.slideshow{
		margin-left:0px;
	}
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 10px; 
    z-index: 100; 
    border: none; 
    outline: none; 
    background-color: transparent; 
    padding: 15px; 
    border-radius: 10px; 
    cursor:pointer;
}

#myBtn:hover {
    color: #FF7895; 
}

@media (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
	position: absolute;
    right: 15%;
    bottom: 5em;
    left: 30%;
	}

	.navbar {
	margin-left:2em;
	font-size:14px;
	}

	#menu-deroulant ul li a{
		text-align:center;
	}
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding:5px 50px;
	font-family: "Montserrat";
	color:#3d3d3d;
}

.popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #d6cfc0;
    color: #3d3d3d;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
}

.form-control {
	font-family:'Montserrat';
    display: block;
    padding: .5rem .75rem;
    font-size: 12px;
    line-height: 1.25;
    color: #3d3d3d;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

